<!-- photos -->
<div class='slideshow-wrapper'>
  <div class='button-wrapper left'>
    <div class='chevron-icon'></div>
  </div>
  <div class='button-wrapper right'>
    <div class='chevron-icon'></div>
  </div>
  <div class='photo-wrapper'>
    <div class='photo-strip'>
      {% for image in site.data.index.images-strip %}
      <div class='image-wrapper loading lazy' data-src='./{{image}}'>
        <img class='img' data-src='./{{image}}'/>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
