// @import 'mixins.sass'

.button-wrapper
  display: none
  +medium-devices
    z-index: 10
    width: 25%
    height: 100%
    position: absolute
    opacity: 0
    transition: opacity 300ms
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    .chevron-icon
      width: 100%
      height: 40px
      -webkit-mask-size: cover
      mask-size: cover
      -webkit-marsk-size: cover
      background-color: rgb(85, 85, 85)
    &:hover
      opacity: 1
    &.left
      left: 0
      .chevron-icon
        -webkit-mask: url('/resources/images/svg/chevron-left.svg') 50% 50% no-repeat
    &.right
      right: 0
      .chevron-icon
        -webkit-mask: url('/resources/images/svg/chevron-right.svg') 50% 50% no-repeat
.photo-wrapper
  +medium-devices
    min-width: 40vw
    max-width: 40vw
    min-height: 60vh
    max-height: 60vh
    overflow: scroll
  .photo-strip
    display: inline-flex
    flex-direction: column
    +medium-devices
      flex-direction: row
    .image-wrapper
      display: flex
      width: 80vw
      position: relative
      min-height: 200px
      &.loading::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0))
        background-size: 300%
        animation: Gradient 2s linear infinite
      +medium-devices
        width: 40vw
        min-height: 60vh
        height: 60vh
      img
        margin: auto
        align-self: center
        max-width: 100%
        max-height: 100%
        opacity: 0
      &:not(.loading)
        img
          animation: FadeIn 2s
          -webkit-animation-fill-mode: forwards
          -moz-animation-fill-mode: forwards
          -o-animation-fill-mode: forwards
          -ms-animation-fill-mode: forwards
          animation-fill-mode: forwards

+keyframes(Gradient)
  0%
    background-position-x: 0%
  100%
    background-position-x: 300%

+keyframes(FadeIn)
  0%
    opacity: 0
  100%
    opacity: 1
