---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include metadata.html %}
  <!-- js -->
  {% include js.html %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53780759-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-53780759-6');
  </script>
  <!-- css -->
  <link rel='stylesheet' type="text/css" href='/resources/css/{{page.css}}'/>
  <link href="https://fonts.googleapis.com/css?family=Bellefair&text=NATLIE%20ROJS" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Red+Hat+Display&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500&display=swap" rel="stylesheet"> -->
  <title>{{ page.title }}</title>
</head>
<body>
  <div class='view-wrapper'>
    <div class='empty-space-nav'></div>
    <nav class='contact nav'>
      <a href='/'><h1 class='name'>NATALIE ROJAS</h1></a>
      <a href='/information' class='contact-link{% if page.permalink == "/information" %} active {% endif %}'>Information</a>
    </nav>
    <div class='content-wrapper'>
      {{ content }}
    </div>
    <div class='full-image'>
      <div class='full-image-wrapper'>
        <img src=''/>
      </div>
    </div>

  </div>
</body>
</html>
